@import './Components/AllComponentsStyle.scss';

div#root {
  min-height: 100vh;
  max-width: $maxwidth;
  background-color: #E2E2E2;
  
  /*Centering*/
  display:flex;
  align-items:center;
  justify-content:center;
}
